doctype html
html
    head
        title= "DashBoard"
    body   
        div         
            a(href="ofert.url")
                div
                h3= "offertTitle" 
                p= "offertSalary"
                p= "company"
                button(type="button" class="edit" onClick=nombreDeLaFuncion)= "Editar"
                button(type="button" class="delete" onClick=nombreDeLaFuncion)= "Borrar"   
            div 
                button="Crear nueva oferta"