doctype html
html
    head
        title= "Favorites"
        style 
            include ../public/styles/hamburguesa.css
            include ../public/styles/favorites.css
    body
        include ./header.pug
        div
            each _offert in _offerts
                a(href="ofert.url")
                div(class="eachOffer")
                    h3 Título: #{_offert.title}
                    p Salario: #{_offert.salary}
                    p Empresa: #{_offert.company}
                        button(type="button" class="highlighted" onClick=quitarHighlight) like
    include ./footer.pug