doctype html
html
    head
        title= "Favorites"
    body
        div 
            a(href="ofert.url")
                div
                    h3= "offertTitle"
                    p= "offertSalary"
                    p= "company"
                        button(type="button" class="highlighted" onClick=quitarHighlight)="like"