doctype html
html
    head
        title= "Home"
        style 
            include ../public/styles/hamburguesa.css
        
    body
        include ./header.pug
        main
            div(id =root)
                form(
                    action="/api/search"
                    method="GET")  
                    input(
                        type="text"
                        id="buscar"
                        placeholder="Oferta")
                    input(
                        type="submit"
                        value="Buscar")
                each _offert in data
                    a(href="ofert.url")
                        div
                            h3 "titulo" #{_offert.title}
                            p "salario" #{_offert.salary}
                            p "empresa" #{_offert.company}
        include ./footer.pug
        script(src="./scripts/home.js")
            //- Home de admin
            //- input(
            //-     type="submit"
            //-     value="Usuarios")

            //- input(
            //-     type="submit"
            //-     value="Ofertas")