doctype html
html
    head
        title= "Home"
        style 
            include ../public/styles/hamburguesa.css
            include ../public/styles/home.css    
    body
        include ./header.pug
        main
            div(id =root)
                form(
                    action="/api/search/home"
                    method="GET")  
                    input(
                        name="search"
                        type="text"
                        id="buscar"
                        placeholder="Oferta")
                    button(
                        type="submit"
                        value="home") Buscar
                each _offert in data
                    a(href= _offert.url)
                        div
                            h3 Titulo: #{_offert.title}
                            p Salario: #{_offert.salary}
                            p Empresa: #{_offert.company}
                            p Descripción oferta: #{_offert.description}
        include ./footer.pug
        script(src="./scripts/home.js")
            //- Home de admin
            //- input(
            //-     type="submit"
            //-     value="Usuarios")

            //- input(
            //-     type="submit"
            //-     value="Ofertas")