doctype html
html
    head
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        title= "Home"
        style 
 
            include ../public/styles/normalize.css
            include ../public/styles/general.css
            include ../public/styles/home.css    
        script(src="./scripts/home.js")
    body
        include ./header.pug
        main
            div(id= "root")
                div(id="welcome")
                    h2 Welcome, introduce your search.
                div(id= "busqueda")
                    input(
                        name="search"
                        type="text"
                        placeholder="Search offer"
                        id="buscar")
                    button(
                        type="submit"
                        value="home"
                        id="search_Button"
                        onclick="changeWelcome(), search()") Search
           
             form(action="/api/logout" method="POST")
               input(type="submit" value="Logout")

                        

        include ./footer.pug

            //- Home de admin
            //- input(
            //-     type="submit"
            //-     value="Usuarios")
            //- input(
            //-     type="submit"
            //-     value="Ofertas")