doctype html
html
    head
        title= "Profile"
        style 
            include ../public/styles/hamburguesa.css
        script( src="/scripts/profile.js")
    body
        include ./header.pug
        main
            div(id="root") 
                h2= "Your profile"
                    div 
                        img(src='#{users.avatar}' alt="user avatar")
                        p Name: #{users.name}
                        p Email: #{users.email}
                        p Miembro desde #{users.dateUp}
                button(onclick="editMode()")= "Editar"



        include ./footer.pug


