doctype html
html
    head
        title= "Profile"
        style 
            include ../public/styles/normalize.css
            include ../public/styles/general.css
            include ../public/styles/profile.css
        script( src="/scripts/profile.js")
    body
        include ./header.pug
        main
            div(id="root" class="containerdiv") 
                h2= "Your profile"
                    div 
                        img(src=user.img alt="user avatar")
                        p Nombre: #{user.nombre}
                        p Email: #{user.email}
                        p Miembro desde: #{user.fecha}
                button(class="send" onclick="editMode()")= "Editar"



        include ./footer.pug


