doctype html
html
    head
        title= "Sign Up"
        style 
            include ../public/styles/hamburguesa.css
    body
        include ./header.pug
        input(
            type="submit"
            value="Continuar con Facebook"
            id="facebook")
        input(
            type="submit"
            value="Continuar con Google"
            id="google")
        form(
            action="/api/user"
            method="POST")
            input(
                type="text"
                placeholder="Nombre de usuario"
                name="nombre")
            input(
                type="email"
                placeholder="Email"
                name="email")
            input(
                type="password"
                placeholder="Contraseña"
                name="pass")
            input(
                type="text"
                placeholder="URL de la imagen"
                name="img")
            button(
                type="submit"
            ) Registrar