doctype html
html
    head
        title= "Sign Up"
        style 
            include ../public/styles/normalize.css
            include ../public/styles/general.css
            include ../public/styles/signup.css
    body
        include ./header.pug
        main
            div(id="root" class="containerdiv")
                div(class="redes")
                    input(
                        type="submit"
                        value="Continuar con Facebook"
                        id="facebook")
                    input(
                        type="submit"
                        value="Continuar con Google"
                        id="google")
                    div(class="userdata")
                        form(
                            action="/api/user"
                            method="POST")
                            div(class="data")
                            input(
                                type="text"
                                placeholder="Nombre de usuario"
                                name="nombre")
                            div(class="data")
                            input(
                                type="email"
                                placeholder="Email"
                                name="email")
                            div(class="data")
                            input(
                                type="password"
                                placeholder="Contraseña"
                                name="pass")
                            div(class="data")
                            input(
                                type="text"
                                placeholder="URL de la imagen"
                                name="img")
                            div(class="data")
                            button(
                                type="submit"
                            ) Registrar

        include ./footer.pug

