doctype html
html
    head
        title= "Sign Up"
        style 
            include ../public/styles/hamburguesa.css
            include ../public/styles/signup.css
    body
        include ./header.pug
        div(class="containerdiv")
            div(class="redes")
                input(
                    type="submit"
                    value="Continuar con Facebook"
                    id="facebook")
                input(
                    type="submit"
                    value="Continuar con Google"
                    id="google")
            div(clas="userdata")
                form(
                    action="/api/user"
                    method="POST")
                    div(clas="data")
                    input(
                        type="text"
                        placeholder="Nombre de usuario")
                    div(clas="data")
                    input(
                        type="email"
                        placeholder="Email")
                    div(clas="data")
                    input(
                        type="password"
                        placeholder="Contraseña")
                    div(clas="data")
                    input(
                        type="submit"
                        value="Registrar")
        include ./footer.pug