doctype html
html
    head
        title= "Users"
        style 
            include ../public/styles/normalize.css
            include ../public/styles/general.css
            include ../public/styles/users.css
    body
        include ./header.pug
        main
            div(id= "root")
                div(id= "users")
                    each user in users
                        a(href="#")
                            div(class="ficha")
                                img(src=user.img alt="Avatar del usuario" class="avatar")
                                p #[strong Nombre:] #{user.nombre}
                                p #[strong Email:] #{user.email}
                                p #[strong Administrador:] #{user.administrador}
                                p #[strong Fecha de alta:] #{user.fecha.toString().substring(0,15)}
                                button(type="button" class="edit" onClick=funcionEditar) Editar Usuario
                                button(type="button" class="delete" onClick=funcionEliminar) Eliminar Usuario 
                a(href="signup"): button(class="create") Crear usuario 
            
        include ./footer.pug

